.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 200px;
  height: 100%;
}

.chatTitle {
  flex-shrink: 0;
  margin: 0 !important;
}

.chatBody {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.path {
  margin-top: 4px;
}
